<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                       
                        <!-- Trang Quản Trị Website (mục đầu tiên) -->
                        <li>
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                <i class="fa fa-home fa-fw me-1"></i> Trang Quản Trị Website
                            </a>
                        </li>

                        <!-- Mục: Cài đặt Web -->
                        <li>
                            <a asp-controller="WebSetting" asp-action="WebSetting">
                                <i class="fa fa-cogs fa-fw me-1"></i> Cài đặt Web
                            </a>
                        </li>

                        <!-- Mục: Thêm sản phẩm -->
                        <li>
                            <a asp-area="Admin" asp-controller="SanPham" asp-action="Index">
                                <i class="fa fa-plus-square fa-fw me-1"></i> Thêm sản phẩm
                            </a>
                        </li>

                        <!-- Mục: Về Trang Chính -->
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fa fa-arrow-left fa-fw me-1"></i> Về Trang Chính
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>